extends layout

block style
    link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css")
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/stylesheets/dashboard.css')

block navbar
    .navbar.navbar-default
        .container-fluid
            .navbar-header
                a(href="#" ng-click="logout()").navbar-text.navbar-right.collapsed.navbar-toggle Logout
                a(href="/").navbar-brand CH<b>Chaverim</b>
            a(href="#" ng-click="logout()").navbar-text.navbar-right.navbar-collapse.collapse Logout

block content
    ui-view

block scripts
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js')
    //-- Angular Material requires additional Angular.js Libraries
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js")

    //-- Angular Material Library 
    script(src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js")

    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js')
    script(src='/app/vendor/angular-storage.min.js')
    script(src='/app/vendor/angular-jwt.min.js')

    //- Import view Controllers
    script(src='/app/app.js')
    script(src='/app/controllers/home.js')
    script(src='/app/controllers/login.js')
    script(src='/app/controllers/log.js')
    script(src='/app/controllers/accounts.js')

    //-- Import required services
    script(src='/app/services/httpcall.js')
