extends layout

block style
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .jumbotron.intro
    .container.intro
      h1 Chaverim of Crown heights
      p Welcome to #{title}
      p
        |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam lobortis eu nulla eget ullamcorper. Suspendisse eget ultrices ligula. Phasellus tincidunt hendrerit mi, quis viverra ex congue eu. Aliquam et leo quis libero imperdiet pulvinar sit amet eget orci. Suspendisse vitae tellus pretium, fermentum ante a, aliquam est. Vestibulum eget ante ac mi suscipit rutrum. Vestibulum a nulla accumsan, tristique sem sed, consectetur diam. Sed mattis ex quam, ut volutpat erat gravida vitae. In fermentum sit amet sem vitae condimentum. Donec placerat rhoncus elit, pulvinar mollis urna tristique in.
        br
        br
        |Integer vestibulum ut arcu eget lobortis. Aenean sollicitudin, ante vitae posuere lacinia, nunc eros rutrum diam, placerat tincidunt metus ligula vitae nunc. Vivamus in dolor eros. Nulla facilisi. Sed lorem magna, tempor porttitor purus at, vestibulum sodales justo. Nullam pulvinar ut mi cursus pulvinar. Quisque sit amet rutrum magna. Mauris euismod malesuada elit. Mauris sollicitudin mauris ut mollis feugiat.
  .help
    .container
      h1.center Create Event
      form
        .form-group
          label(for="input_title") Title:
          input(type="text", id="input_title", placeholder="Plese enter short description of event").form-control

          label(for="input_details") Details:
          input(type="text", id="input_details", placeholder="Please enter any relevent details of the event").form-control

          label(for="input_name") Name:
          input(type="text", id="input_name", placeholder="Please enter your name").form-control

          label(for="input_number") Number:
          input(type="text", id="input_number", placeholder="Please enter a number that we can use to reach you when we arrive").form-control

          label(for="input_location") Location:
          input(type="text", id="input_location", placeholder="Please enter the location of the event").form-control
          .submit
            button(type="submit").btn.btn-primary Submit
          

