extends layout

block style
  link(rel='stylesheet', href='/stylesheets/cover.css')

block content
  .site-wrapper
    .site-wrapper-inner
      .cover-container
        .masthead.clearfix
          .inner
            h3.masthead-brand CHChaverim
            nav.nav.nav-masthead
              a(class="nav-link" href="/dashboard") Dashboard

        .inner.cover
          h1.cover-heading Chaverim of Crown Heights
          p.lead Call us at (XXX) XXX-XXXX for assistance
          p.lead Online form coming soon

        .mastfoot
          .inner
            p App, Dashboard and Website by Menachem Hornbacher.


