<div class="side-menu">
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="brand-wrapper">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="brand-name-wrapper">
                        <a href="/" class="navbar-brand">CH<b>Chaverim</b></a>
                    </div>
                    <a data-toggle="collapse" href="#" ng-click="logOut()" class="btn btn-default" id="search-trigger">
                        <span class="glyphicon glyphicon-log-out"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="side-menu-container">
        <ul class="nav navbar-nav">
            <li>
                <div class="currentUser">
                    <h3>{{ currentUser.name }}</h3>
                    <p>{{ currentUser.number }}<br>{{ currentUser.role }}</p>
                </div>
            </li>
            <li class="side-nav-link active"><a ui-sref=".calls"><span class="glyphicon glyphicon-bullhorn"></span> Calls</a></li>
            <li class="side-nav-link"><a ui-sref=".current"><span class="glyphicon glyphicon-inbox"></span> Current</a></li>
            <li class="side-nav-link"><a ui-sref=".account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            <li class="side-nav-link" ng-show="currentUser.moderator" ng-class="currentUser.moderator ? '' : 'disabled'">
                <a ui-sref=".logs"><span class="glyphicon glyphicon-bullhorn"></span> Logs</a>
            </li>
            <li class="side-nav-link" ng-show="currentUser.dispatch" ng-class="currentUser.dispatch ? '' : 'disabled'">
                <a ui-sref=".editaccounts"><span class="glyphicon glyphicon-hdd"></span> Users</a>
            </li>
            <li><a> Current session expires in {{ tokenExpiresIn }} </a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</div>

<div class="side-body">
    <div class="content" ui-view></div>
</div>
<script src="/scripts/navbar-toggle.js"/>