<div class="col-md-2 col-sm-2" style="padding: 0px">
    <ul class="list-group">
        <button type="button" ui-sref=".calls" class="list-group-item">Calls</button>
        <button type="button" ui-sref=".current" class="list-group-item">Current</button>
        <button type="button" ui-sref=".account" class="list-group-item">Account</button>
        <button type="button" ui-sref=".logs" class="list-group-item">Logs</button>
        <button type="button" ui-sref=".editaccounts" class="list-group-item">Accounts</button>
    </ul>
    <p>Current session expires in {{ tokenExpiresIn }}</p>
</div>
<div class="col-md-10 col-sm-10">
    <div ui-view></div>
</div>