<form>
    <div class="form-group">
        <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Log..." ng-model="searchLog">
        </div>      
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <a ng-click="sortType = 'title'; sortReverse = !sortReverse">Title
                <span ng-show="sortType == 'title' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'title' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'details'; sortReverse = !sortReverse">Details
                <span ng-show="sortType == 'details' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'details' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th> 
            <th>
                <a ng-click="sortType = 'createdAt'; sortReverse = !sortReverse">Created At
                <span ng-show="sortType == 'createdAt' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'createdAt' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th> 
            <th>
                <a ng-click="sortType = 'caller.name'; sortReverse = !sortReverse">Caller
                <span ng-show="sortType == 'caller.name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'caller.name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th> 
            <th>
                <a ng-click="sortType = 'responder.name'; sortReverse = !sortReverse">Responder
                <span ng-show="sortType == 'responder.name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'responder.name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th> 
            <th>
                <a ng-click="sortType = 'backup.length'; sortReverse = !sortReverse">Number of Backups
                <span ng-show="sortType == 'backup.length' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'backup.length' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>Backups</th>
            <th>
                <a ng-click="sortType = 'finished'; sortReverse = !sortReverse">Finished
                <span ng-show="sortType == 'finished' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'finished' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th> 
            <th>
                <a ng-click="sortType = 'canceled'; sortReverse = !sortReverse">Canceled
                <span ng-show="sortType == 'canceled' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'canceled' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th> 
            <th>
                <a ng-click="sortType = 'taken'; sortReverse = !sortReverse">Taken
                <span ng-show="sortType == 'taken' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'taken' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th> 
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="call in log | orderBy:sortType:sortReverse | filter:searchLog">
            <td>{{ call.title }}</td>
            <td>{{ call.details }}</td>
            <td>{{ cleantime(call.createdAt) }}</td>
            <td>{{ call.caller.name }} | {{ call.caller.number }}</td>
            <td>{{ call.responder.name }} | {{ call.responder.number }}</td>
            <td>{{ call.backup.length }}</td>
            <td>
                <p ng-repeat="backups in call.backup">{{ backups }}<p>
            </td>
            <td>{{ call.finished }}</td>
            <td>{{ call.canceled }}</td>
            <td>{{ call.taken }}</td>
        </tr>
    </tbody>
</table>