<form>
    <div class="form-group">
        <div class="input-group">
        <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        <input type="text" class="form-control" placeholder="Search Log..." ng-model="searchLog">
        </div>      
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                <a ng-click="sortType = 'title'; sortReverse = !sortReverse">Title
                <span ng-show="sortType == 'title' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'title' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'details'; sortReverse = !sortReverse">Details
                <span ng-show="sortType == 'details' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'details' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'location'; sortReverse = !sortReverse">Location
                <span ng-show="sortType == 'location' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'location' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th> 
            <th>
                <a ng-click="sortType = 'createdAt'; sortReverse = !sortReverse">Created At
                <span ng-show="sortType == 'createdAt' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'createdAt' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'dispatcher.name'; sortReverse = !sortReverse">Dispatcher
                <span ng-show="sortType == 'dispatcher.name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'dispatcher.name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'caller.name'; sortReverse = !sortReverse">Caller
                <span ng-show="sortType == 'caller.name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'caller.name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'responder.name'; sortReverse = !sortReverse">Responder
                <span ng-show="sortType == 'responder.name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'responder.name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>
                <a ng-click="sortType = 'backup.length'; sortReverse = !sortReverse">#
                <span ng-show="sortType == 'backup.length' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'backup.length' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
            <th>Backups</th>
            <th>Cancelled by</th>
            <th>Edited By by</th>
            <th>
                <a ng-click="sortType = 'taken'; sortReverse = !sortReverse">Taken
                <span ng-show="sortType == 'taken' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortType == 'taken' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="call in log | orderBy:sortType:sortReverse | filter:searchLog">
            <td>{{ call.title }}</td>
            <td>{{ call.details }}</td>
            <td>{{ call.caller.location }}</td>
            <td>{{ cleantime(call.createdAt) }}</td>
            <td>{{ call.dispatcher.name }} | {{ call.dispatcher.number }}</td>
            <td>{{ call.caller.name }} | {{ call.caller.number }}</td>
            <td>{{ call.responder.name }} | {{ call.responder.number }}</td>
            <td>{{ call.backup.length }}</td>
            <td>
                <p ng-repeat="backups in call.backup">{{ backups }}<p>
            </td>
            <td>{{ call.canceled_by.name }}</td>
            <td>
                <p ng-repeat="editor in call.edited_by track by $index">{{ editor }}<p>
            </td>
            <td>
                <span class="glyphicon glyphicon-ok" ng-show="call.taken" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-remove" ng-show="!call.taken" aria-hidden="true"></span>
            </td>
        </tr>
    </tbody>
</table>