/**********************NavBar**********************/
.navbar .navbar-right{
    margin-right: 25px;
}
.navbar .side-menu{
    padding: 0px;
    height: 100%;
}
.navbar .side-menu .list-group{
    border-radius: 0px;
}
.navbar .navbar-toggle{
    border-color: transparent;
}
.navbar .list-group-item a{
    color: #555;
}
.navbar .list-group-item.disabled a{
    color: #777;
}
.navbar .list-group-item.active a{
    color: #fff;
}
@media(max-width:767px){
    .navbar .navbar-text{
        margin: 8px 25px;
    }
}
/**********************PopUps*********************/
.adduser{
    width: 350px;
}
/**********************Other**********************/
.content{
    margin-top: 15px;
}
.currentUser{
    margin: 0px;
}