/**********************NavBar**********************/
.navbar .navbar-right{
    margin-right: 25px;
}
.navbar .side-menu{
    padding: 0px;
    height: 100%;
}
.navbar .side-menu .list-group{
    border-radius: 0px;
}
.navbar .navbar-toggle{
    border-color: transparent;
}
.side-menu-container a{
    color: #555;
}
@media(max-width:767px){
    .navbar .navbar-text{
        margin: 8px 25px;
    }
}
/**********************PopUps*********************/
.adduser{
    width: 350px;
}
/**********************Other**********************/
.content{
    padding-top: 15px;
}
.currentUser{
    margin-left: 15px;
}
.currentUser h3{
    margin-top: 10px;
    margin-bottom: 5px;
}

li[disabled] > a {
    pointer-events: none;
}