.login-center{
    width: 350px;
    margin: 50px auto;
    text-align: center;
}
.login-center .form-control{
    margin-top: 15px;
    margin-bottom: 15px;
}

.login-center .alert{
    margin-top: 20px;
}