/*Site wide styles*/
html.md-default-theme, html, body.md-default-theme, body{
  background: #fff;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/*Navbar*/
.navbar{
  margin: 0;
}
/*Other items*/
/*Footer*/
footer{
  width: 100%;
  background: #333;
  text-align: center;
  color: #fff;
}


footer .container{
  padding-top: 40px;
  padding-bottom: 30px;
}
